# options to adjust access to this site

# no access
#Require all denied

# based on ip-address
#Require from 157.193.39.0/255.255.255.0
#Require from 172.18.39.0/255.255.255.0

# UGent
#Require from 157.193.0.0/255.255.0.0

# eduroam
#Require from 172.18.0.0/255.255.255.0

# full internet access
#Require all granted

# by default directoy listing should be off
Options -Indexes

# enable directory listing 
#Options +Indexes
#DirectoryIndex none

RewriteEngine On
# if starts with www rewrite to non www https version
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
